
<style>
  
</style>



<Style>
.container {
  width: 600px;
  padding: 0px 5px;
   margin: auto ;
   margin-top: 100px;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
 
}
.container .header{
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ccc;

}
h2{
  padding: 7px
}
form {
  width: 100%;

}
label{
  display: block;
  padding: 5px;
  font-weight: 900;
  text-align: left
}
input[type=text], input[type=password]  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] , input[type=reset] {
  background-color: #4CAF50;
  font-size: 1.2rem;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
input[type=reset]{
  background-color: red
}
input[type=reset]:hover{
  opacity: 0.4;
  color: black;
}

input[type=submit]:hover{
  opacity: 0.4;
  color: black;
}
span {
  font-size: 1rem;
  padding: 8px
}
span a {
  text-decoration: none;
  color: red;
  

}
</Style>
<div class="container">
  <div class="header">
<h2> Page For Login </h2>
  </div>
<form method="POST" >

  <label for="name">UserName or Email address</label>
  <input name="name" type="text" placeholder="UserName...." required/>
  <br>
  <br>
  <label for="psw">Passworld</label>
  <input name="psw" type="password" placeholder="Passworld...." required/>
  <br>
  <input name="submit" type="submit" />
  <br>
  <input name="reset" type="reset" />

</form>
<span>Forgot <a href="#">password?</a></span>

</div>

<router-outlet></router-outlet>